---
import Link from "@components/Link.astro";
import { upperFirstLetter } from "@utils/firstLetter";

const currentUrl = Astro.url.pathname.split("/")[1];
const activeLinkClass =
  "text-custom-accent underline decoration-wavy decoration-2 underline-offset-4 font-bold";
const inactiveLinkClass =
  "text-current hover:text-custom-accent hover:no-underline";
const links = [
  { href: "/", title: "inicio" },
  { href: "/proyectos", title: "proyectos" },
  { href: "/herramientas", title: "herramientas" },
];
---

<ul class={Astro.props.class}>
  {
    links.map((link) => (
      <li>
        <Link
          title={upperFirstLetter(link.title)}
          href={link.href}
          sr={`Ir a ${upperFirstLetter(link.title)}`}
          extraClasses={`${currentUrl === link.href.split("/")[1] ? activeLinkClass : inactiveLinkClass}`}
        >
          {upperFirstLetter(link.title)}
        </Link>
      </li>
    ))
  }
</ul>
