---
import Link from "@components/Link.astro";
import ImageRandom from "@components/ImageRandom.astro";
import Github from "@icons/Github.astro";
import Web from "@icons/Web.astro";
import Info from "@icons/Info.astro";

interface Props {
  name: string;
  description: string;
  html_url: string;
  created_at: Date;
  updated_at: Date;
  homepage: string;
  language: string;
}

const {
  name,
  description,
  html_url,
  created_at,
  updated_at,
  homepage,
  language,
} = Astro.props;
---

<article
  class="flex flex-col border-2 border-custom-accent/40 shadow-lg shadow-custom-accent/20 gap-4 p-4 rounded-2xl justify-between"
>
  <header class="flex justify-center">
    <h3 class="items-center font-semibold text-xl">
      <Link
        title={name}
        href={`/proyectos/${name}`}
        sr={`Ir al proyecto ${name}`}
        isCustom
        extraClasses="text-custom-accent hover:underline decoration-2 decoration-wavy decoration-custom-accent underline-offset-4 flex flex-col gap-4 items-center"
      >
        {name}
        <img
          src={`https://raw.githubusercontent.com/yaelooo/${name}/main/.ignore/${name}.webp`}
          alt={`imagen del proyecto ${name}`}
          loading="lazy"
        />
      </Link>
    </h3>
  </header>
  <section class="flex flex-col gap-2">
    <p>{description}</p>
    <p>Updated at {new Date(updated_at).toLocaleDateString()}</p>
    <p>Created at {new Date(created_at).toLocaleDateString()}</p>
  </section>
  <footer class="flex justify-between">
    <span class="flex gap-2">
      <!-- Link github -->
      <Link
        title={`Ir al repositorio del proyecto ${name}`}
        href={html_url}
        sr={`Ir al repositorio del proyecto ${name}`}
        isExternal
      >
        <Github />
      </Link>
      <!-- Link web -->
      {
        homepage ? (
          <Link
            title={`Ir a la página del proyecto ${name}`}
            href={homepage}
            sr={`Ir a la página del proyecto ${name}`}
            isExternal
          >
            <Web />
          </Link>
        ) : null
      }
      <!-- Most used language-->
      <span>Lenguaje principal: {language}</span>
    </span>
    <!-- Link info -->
    <Link
      title={`Más información del proyecto ${name}`}
      href={`/proyectos/${name}`}
      sr={`Más información del proyecto ${name}`}
    >
      <Info />
    </Link>
  </footer>
</article>
