---
import Link from "@components/Link.astro"
import Github from "@icons/Github.astro"
import Web from "@icons/Web.astro"
import Info from "@icons/Info.astro"
import { convertDate } from "@lib/convertDate"
import { getProjectImageUrl } from "@utils/githubApi"
import { upperFirstLetter } from "@lib/firstLetter"

interface Props {
  name: string
  description: string
  html_url: string
  created_at: Date
  pushed_at: Date
  homepage: string
  language: string
}

const { name, description, html_url, created_at, pushed_at, homepage, language } = Astro.props

const url = getProjectImageUrl(name)
---

<article
  class="flex flex-col justify-between gap-4 rounded-2xl border-2 border-custom-accent/40 p-4 shadow-lg shadow-custom-accent/20"
>
  <header class="flex justify-center">
    <h2 class="items-center text-xl font-semibold">
      <Link
        title={name}
        href={`/proyectos/${name}`}
        sr={`Ir al proyecto ${name}`}
        isCustom
        extraClasses="text-custom-accent hover:underline decoration-2 decoration-wavy decoration-custom-accent underline-offset-4 flex flex-col gap-4 items-center"
      >
        {upperFirstLetter(name)}
        <img src={url} alt={`imagen del proyecto ${name}`} loading="lazy" />
      </Link>
    </h2>
  </header>
  <section class="flex flex-col gap-2">
    <p class="font-semibold">{description}</p>
    <p>
      <span class="font-semibold">Actualización:</span>
      <span class="font-normal">
        {convertDate(new Date(pushed_at))}
      </span>
    </p>
    <p>
      <span class="font-semibold">Creación:</span>
      <span class="font-normal">
        {convertDate(new Date(created_at))}
      </span>
    </p>
  </section>
  <footer class="flex justify-between">
    <span class="flex gap-2">
      <span class="font-semibold">Lenguaje principal:</span>
      <span class="font-normal">{language}</span>
    </span>
    <span class="flex items-center gap-2">
      {
        homepage ? (
          <Link
            title={`Ir a la página del proyecto ${name}`}
            href={homepage}
            sr={`Ir a la página del proyecto ${name}`}
            isExternal
          >
            <Web />
          </Link>
        ) : null
      }
      <Link
        title={`Ir al repositorio del proyecto ${name}`}
        href={html_url}
        sr={`Ir al repositorio del proyecto ${name}`}
        isExternal
      >
        <Github />
      </Link>
      <Link
        title={`Más información del proyecto ${name}`}
        href={`/proyectos/${name}`}
        sr={`Más información del proyecto ${name}`}
      >
        <Info />
      </Link>
    </span>
  </footer>
</article>
